.main {
    padding : 0px 45px 45px 45px;
  }
  .main * {
    transition: all 0.2s;
  }
  .main .main_content {
    margin: 100px 0 40px;
    column-gap: 40px;
    width: 100%;
  }
  .main .main_content .picture_wrapper {
    margin-bottom: 20px;
  }

  .main .main_content .picture_wrapper:hover img{
    transform: scale(1.1);
  }

  .main .main_content .picture_wrapper img {
    height: auto;
    width: 100%;

    border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  }
  
  /* responsive */
  @media (min-width: 1200px) {
    .main_content {
      column-count: 4;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .main_content {
      column-count: 4;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .main_content {
      column-count: 2;
    }
  }
  @media (max-width: 575px) {
    .main_content {
      column-count: 1;
    }
  }